body {
  background: linear-gradient(to right, #484733, #ab39cf);
}
.form-container {
  padding: 10px;
  width: 40%;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 10px;
}
.form-group {
  margin: 10px auto;
}
.hobby-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.remove-btn {
  width: fit-content;
  height: fit-content;
}
.hobby-item {
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  margin: 10px;
}
.hobby-name,
.hobby-body {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 500px) {
  .form-container {
    width: 90%;
  }
}
